body{
    margin: 0px;
}


li {
    float: right;
}

li a{
    display: block;
    padding: 25px;
    color: antiquewhite;
    text-decoration-line: none;
    

}

.header:hover {
    font-size: 23px;
    text-shadow: 6px 3px 6px #281f0d;


}

.header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: .2s;
}

header ul{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 25px;
    background-color: #916e2c;
    height: 75px;
}

.logo {
    max-width: 105px;
}

main{
    min-height: calc(100vh - 250px - 50px);
    margin: auto;
    padding: 25px;
}

footer{
    background-color: #916e2c;
    display: flex;
    justify-content: center;
}

footer .wrapper{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    padding: 36px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icon{
    padding-left: 15px;
    padding-right: 15px;
}

svg{
    transition: .3s ease;
}

svg:hover{
    fill: rgb(62, 34, 14);

}

.info{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer:hover{
    transition: .4s;
    color: #281f0d;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.lorem{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(101, 74, 38);
}




